<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
     function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
    </script>
    
    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: Please add the following <FORM> element to your page.             -->
    <!--  ----------------------------------------------------------------------  -->
    
    <form action="https://test.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
    
    <input type=hidden name='captcha_settings' value='{"keyname":"DE_Russ_Test_v2","fallback":"true","orgId":"00D7j000000H0te","ts":""}'>
    <input type=hidden name="oid" value="00D7j000000H0te">
    <input type=hidden name="retURL" value="https://designeverest.com/thank-you.html">
    
    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
    <!--  these lines if you wish to test in debug mode.                          -->
    <!--  <input type="hidden" name="debug" value=1>                              -->
    <!--  <input type="hidden" name="debugEmail"                                  -->
    <!--  value="russ@designeverest.com">                                         -->
    <!--  ----------------------------------------------------------------------  -->
    
    <label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>
    
    <label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>
    
    <label for="city">City</label><input  id="city" maxlength="40" name="city" size="20" type="text" /><br>
    
    <label for="zip">Zip</label><input  id="zip" maxlength="20" name="zip" size="20" type="text" /><br>
    
    <label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>
    
    Message:<textarea  id="00N7j000001mtz9" name="00N7j000001mtz9" type="text" wrap="soft"></textarea><br>
    
    Preferred contact times:<select  id="00N7j000001mtvg" multiple="multiple" name="00N7j000001mtvg" title="Preferred contact times"><option value="Monday-Friday 4-7PM">Monday-Friday 4-7PM</option>
    <option value="Monday-Friday 12-4PM">Monday-Friday 12-4PM</option>
    <option value="Monday-Friday 7-11AM">Monday-Friday 7-11AM</option>
    <option value="Weekends 1PM-7PM">Weekends 1PM-7PM</option>
    <option value="Weekend Mornings 8AM-11AM">Weekend Mornings 8AM-11AM</option>
    </select><br>
    
    Tracking:<input  id="00N7j000001msvA" maxlength="255" name="00N7j000001msvA" size="20" type="text" /><br>
    
    Project City:<input  id="00N7j000001msv3" maxlength="255" name="00N7j000001msv3" size="20" type="text" /><br>
    
    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div><br>
    <input type="submit" name="submit">
    
    </form>
    