@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #edeef6;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-50 {
  float: left;
  width: 48%;
  margin-top: 10px;
}

.row > .col-100 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.col-100 {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row > input:last-child {
  float: right;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.modal-container.close {
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  border-radius: 10px;
  width: 600px;
  max-width: 60%;
  height: auto;
  max-height: 80vh;
  position: relative;

}

.description-placeholder {
    z-index: 10;
}

.action-button {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background-color: #ff3d6f;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 10px 0px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  line-height: 0.6;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-weight: 300;
}

.div-input-2col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px;
}



.div-input-1col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.div-input-1col-element {
  width: 60%;
}

.div-input-2col-element {
  width: 250px;
  max-width: 48%;
}

input,
textarea {
  height: 40px;
  border-radius: 6px;
  border: 1px solid #d6dbe3;
  display: block;
  outline: none;
  font-size: 16px;
  color: #597a96;
  line-height: 19px;
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
}

textarea {
    resize: none;
    height: 130px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #255a5a;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: #255a5a;
}

::placeholder {
  color: #255a5a;
}

.error-message {
  opacity: 0;
  color: #FF0000;
  font-size: 12px;
  position: relative;
}

.error-message.show-error {
  opacity: 1;
  margin: 0px 0px 15px 0px;
}

input.invalid {
  border: 2px solid #FF0000;
  display:block;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, .col-50, .col-100 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .modal {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }
}

@media screen and (max-height: 600px) {
  .modal {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }
  .action-button {
    width: 40%;
  }
}