.demodal-no-scroll {
  overflow: hidden;
}

.demodal {
  @import 'normalize';
  @import 'grid-min';
  @import 'spinner';

  *, *:before, *:after {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
  }

  h1, p, div {
    margin: 0;
    padding: 0;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }
  /*
    main {
      background-color: rgba(241, 244, 246, 0.96);
      width: 100%;
      min-height: calc(100vh - 229px);
    }
  */

  .demodal-debug {
    color: red;
    font-weight: bold;
  }

  .demodal-inviting-text {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
  }

  &.demodal-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    z-index: 200;
    display: none;

    &:before {
      content: '';
      display: block;
      position: fixed;
      background: #dedede;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 200;
      opacity: 0.6;
      transition: .3s;
    }

    .demodal-body-content {
      background: #fff;
      max-width: 768px;
      margin: auto;
      padding: 40px;
      transition: .3s;
      transform: scale(0);
      height: auto;
      background: rgba(255, 255, 255, 0.98);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      position: relative;
      z-index: 999999;

    }

    &.show:before {
      opacity: .85;
    }

    &.show .demodal-body-content {
      transform: scale(1);
    }
  }

  .demodal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    line-height: .6;
    background: none;
    border: none;
    cursor: pointer;
    color: #D6DBE3;
    font-weight: 300;
  }

  .demodal-form-element {
    margin: 0 auto;
    width: 296px;
    padding-top: 40px;
    position: relative;

    label {
      font-size: 14px;
      line-height: 19px;
      color: #0f4543;
      display: block;
      margin-bottom: 10px;
    }

    input,
    select,
    textarea {
      width: 100%;
      border-radius: 6px;
      border: 1px solid #d6dbe3;
      display: block;
      outline: none;
      font-size: 16px;
      color: #597A96;
    }

    input,
    select {
      height: 40px;
    }

    textarea {
      resize: vertical;
      padding: 6px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      padding-left: 16px;
    }

    .demodal-select-container {
      position: relative;

      &:after {
        content: '\25BC';
        padding: 5px 11px;
        position: absolute;
        right: 10px;
        top: 20%;
        z-index: 1;
        text-align: center;
        width: 10%;
        height: 60%;
        pointer-events: none;
        font-size: 12px;
        color: #597A96;
        border-left: 1px solid #D6DBE3;
      }
    }

    .demodal-error {
      display: none;
      color: #FF9494;
      font-size: 12px;
      position: absolute;
      top: calc(100% + 4px);
    }

    input {
      padding: 6px;

      &.invalid {
        border: 1px solid #FF9494;

        + .demodal-error {
          display: block;
        }
      }
    }
  }

  .demodal-container-2col {
    display: flex;
    flex-wrap: wrap;
    width: 632px;
    justify-content: space-between;
    margin: 0 auto;

    .demodal-form-element {
      margin: 0;
    }

    .demodal-form-element-2col {
      width: 100%;
    }
  }

  button {
    border: 0;
    outline: 0;
    border-radius: 6px;
    height: 48px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    font-weight: 700;
    transition: .3s;
    font-size: 14px;

    &:hover,
    &[disabled] {
      opacity: .75;
    }

    &:focus {
      outline: none;
    }
  }

  .btn-next {
    background-color: #d6dbe3;
    width: 131px;
    color: #597A96;
    position: absolute;
    bottom: 24px;
    right: 36px;
  }

  .demodal-btn-submit {
    width: 100%;
    background-color: #FF3D6F;
    color: #fff;
    margin-top: 40px;
  }

  .demodal-form-tab {
    display: none;
  }

  h3 {
    color: #0f4543;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
  }

  .demodal-semi-bold {
    font-weight: 600;
  }

  .demodal-thank-you-text {
    font-size: 36px;
    line-height: 42px;
    color: #0f4543;
    text-align: center;
    padding: 60px 40px 60px;

    &.demodal-show-readmore {
      padding: 30px 40px 30px;

      .demodal-readmore {
        display: block;
      }
    }

    .demodal-small {
      font-size: 20px;
      margin-top: 50px;
      line-height: 28px;
      display: inline-block;
    }

    .demodal-readmore {
      display: none;
    }
  }

  @media (max-width: 992px) {
    .hidden-xs {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &.demodal-modal-container {
      .demodal-body-content {
        padding-left: 20px;
        padding-right: 20px;

        border-radius: 0;
        width: 100%;
      }
    }

    .demodal-inviting-text {
      padding: 20px;
      font-size: 18px;
      line-height: 21px;
      margin-top: 0;
    }
    .demodal-contact-form {
      margin: 0;
      height: auto;
      padding-bottom: 10px;
    }
    .demodal-form-element {
      padding-top: 18px;
    }
    .btn-next {
      margin: 40px auto 0;
      display: block;
      width: 296px;
      position: relative;
      bottom: initial;
      right: initial;
    }
    .demodal-btn-submit {
      max-width: 296px;
      margin: 40px auto 0;
      display: block;
    }
    .demodal-container-2col {
      display: block;
      width: 100%;
    }
    .demodal-container-2col .demodal-form-element {
      margin: 0 auto;
      // width: 296px;
      width: 100%;
    }
  }
}
